.studentWrapper {
  background-color: #e5e5e5;
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    overflow: hidden;

    h3 {
      padding-left: 10px;
      padding-top: 5px;
      display: flex;
    }
  }
  .headerRight {
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
    button {
      width: 199px;
      height: 40px;
      background-color: #feaf00;
      color: #ffffff;
      border-radius: 4px;
      border: none;
    }
  }
  hr {
    width: 95%;
    color: #acacac;
  }
  .stdDetails {
    display: flex;
    justify-content: center;
  }

  .table {
    padding: 10px 10px;
    border-spacing: unset;
    width: 90%;

    thead {
      th {
        padding: 0.5rem 0.5rem 1rem;
        color: #acacac;
        text-align: center;
      }
    }
    tbody {
      //   border-spacing: 10px;
      border-collapse: separate;
      border-spacing: 0 15px;
      .wrap {
        text-align: center;
      }

      tr {
        border-radius: 4px;
      }
      td {
        background-color: #fff;
        padding: 10px;
        &:first-child {
          border-radius: 10px 0 0 10px;
        }
        &:last-child {
          border-radius: 0 10px 10px 0;
        }
      }
    }

    .check {
      text-align: center;
      color: #000000;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 8px;
    }
  }

  .icon {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    color: #feaf00;
    padding-right: 40px;
  }
}
.modal {
  position: fixed;
  z-index: 999;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.7);
  align-items: center;
  justify-content: center;
  display: none;
  &.isOpen {
    display: flex;
  }
  .modalContent {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    min-height: 100px;
  }
  .close {
    text-align: right;
    font-size: 2rem;
    color: red;
    cursor: pointer;
  }
}
