.paymentWrapper {
  background-color: #e5e5e5;
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding: 10px;

  h3 {
    padding-left: 20px;
    padding-top: 5px;
    display: flex;
  }
  hr {
    width: 97%;
    color: #acacac;
  }

  .ptmDetails {
    display: flex;
    justify-content: center;
  }

  .table {
    padding: 10px 10px;
    border-spacing: unset;
    width: 90%;

    thead {
      th {
        padding: 0.5rem 0.5rem 1rem;
        color: #acacac;
      }
    }
    tbody {
      td {
        padding: 15px;
        &:first-child {
          border-radius: 10px 0 0 10px;
        }
        &:last-child {
          border-radius: 0 10px 10px 0;
        }
      }
      .tdData {
        text-align: center;
      }
    }
  }

  .check {
    background-color: #fff;
    text-align: center;
    color: #000000;
  }
  .icon {
    color: #feaf00;
  }
}
