.products {
  overflow: visible;
}
.head {
  margin-top: 30px;
  text-align: center;
}
.productWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  .card {
    border: 1px solid #ddd;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    img {
      max-width: 250px;
      height: 200px;
    }
    .cardDetails {
      margin-top: 8px;
    }
    .price {
      color: red;
    }
    button {
      border-radius: 8px;
      background-color: #f18930;
      color: white;
      float: right;
      border: none;
      padding: 10px 10px;
      &:hover {
        background-color: #feaf00;
      }
    }
  }
  .title {
    position: relative;
    display: inline-block;
    &:hover .toolTip {
      visibility: visible;
      opacity: 1;
    }
    .toolTip {
      visibility: hidden;
      width: 160px;
      background-color: #555;
      color: #fff;
      text-align: center;
      padding: 5px 5px;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
      ::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
    }
  }
}
