// * {
//   margin: 0;
//   padding: 0;
//   background-color: #f0f0f0;
// }

.cartContainer {
  max-width: 900px;
  min-height: 583px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  img {
    max-width: 50px;
    margin-right: 10px;
  }
  .bin {
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
  }
  .back {
    margin-top: 10px;
    background-color: #feaf00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .check {
    margin-top: 10px;
    background-color: #feaf00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
  }
  .total {
    font-size: 1rem;
    font-weight: bold;
  }
  .totalCheck {
    font-size: 1rem;
    font-weight: bold;
  }
}

// .cartWrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 5%;
//   height: 50vh;

//   .table {
//     border-spacing: unset;
//   }

//   .table {
//     padding: 10px 10px;
//     border-spacing: unset;
//     width: 50%;
//     // margin: auto;

//     thead {
//       th {
//         padding: 0.5rem 0.5rem 1rem;
//         color: #acacac;
//         text-align: center;
//       }
//     }
//     hr {
//       width: 100%;
//     }
//     tbody {
//       //   border-spacing: 10px;
//       border-collapse: separate;
//       border-spacing: 0 15px;
//       text-align: center;
//       .wrap {
//         text-align: center;
//       }

//       tr {
//         border-radius: 4px;
//       }
//       td {
//         background-color: #fff;
//         padding: 10px;
//         &:first-child {
//           border-radius: 10px 0 0 10px;
//         }
//         &:last-child {
//           border-radius: 0 10px 10px 0;
//         }
//       }
.qty {
  padding: 10px;
}
.btn {
  padding: 0px 10px;
  background-color: #feaf00;
  color: #fff;
  border: none;
}
//     }
//   }
// }
// .cartTotal {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   .total {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 15px;
//     margin-right: 20%;
//   }
// }
// .back {
//   margin-right: 25%;
//   background-color: #feaf00;
//   border-radius: 10px;
//   border: none;
//   padding: 10px 10px;
// }
// .check {
//   background-color: #feaf00;
//   border-radius: 10px;
//   border: none;
//   padding: 10px 10px;
// }
.empty {
  text-align: center;
  h2 {
    margin-top: 40px;
  }
}
