.cartContainer {
  max-width: 900px;
  min-height: 583px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  h1 {
    text-align: center;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  img {
    max-width: 50px;
    margin-right: 10px;
  }
  .bin {
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
  }
  .back {
    margin-top: 10px;
    background-color: #feaf00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .check {
    margin-top: 10px;
    background-color: #feaf00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
  }
  .total {
    font-size: 1rem;
    font-weight: bold;
  }
  .totalCheck {
    font-size: 1rem;
    font-weight: bold;
  }
}
.qty {
  padding: 10px;
}
.btn {
  padding: 0px 10px;
  background-color: #feaf00;
  color: #fff;
  border: none;
}
.empty {
  text-align: center;
  h2 {
    margin-top: 40px;
  }
}
