.header {
  display: flex;
  margin-top: 10px;

  h2 {
    margin-left: 10px;
  }

  button {
    display: flex;
    justify-content: flex-end;
    margin-left: 75%;
    padding: 10px 10px;
  }
}

.productsWrapper {
  width: 100%;
  min-height: 80vh;
  padding: 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
  }
  .description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
